<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="/admin/index" class="logo">
                <img style="height: 32px; margin-right: 10px;" src="/assets/img/kaiadmin/Logo.png"
                    alt="navbar brand" class="navbar-brand" height="20" />
                <h4 style="color: white; font-size:100%; margin-bottom:0; font-weight:800;">Sign Language</h4>
            </a>

            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <!-- ICON KHI SLIDE DOWN -->
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>

            <!-- ICON SLIDE DOWN -->
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>

    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <!-- Dashboard -->
                <li class="nav-item active">
                    <a data-bs-toggle="collapse" href="/admin/index" class="collapsed" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <!-- Component -->
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Components</h4>
                </li>

                <!-- Manage User -->
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#manageUser">
                        <i class="fas fa-users"></i>
                        <p>Manage User</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="manageUser">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/list-user">
                                    <span class="sub-item">List of Users</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- Manage Vocabulary -->
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#manageWord">
                        <i class="fab fa-weebly"></i>
                        <p>Manage Vocabulary</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="manageWord">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/list-vocabulary">
                                    <span class="sub-item">List of Vocabularies</span>
                                </a>
                            </li>

                            <li>
                                <a href="/admin/list-recommendation-vocabulary">
                                    <span class="sub-item">List of Recommend Words</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- Manage Topic -->
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#manageTopic">
                        <i class="fas fa-clipboard-list"></i>
                        <p>Manage Topic</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="manageTopic">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/list-topic">
                                    <span class="sub-item">List of Topics</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- Manage Model -->
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#manageModel">
                        <i class="fas fa-clipboard-list"></i>
                        <p>Manage Model</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="manageModel">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/upload-model">
                                    <span class="sub-item">Upload Model</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>